* {
  box-sizing: border-box;
}

:root {
  --primary-color: #0f1b4c;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins";
  font-size: 1.4rem;
}

/* COMMON */
.content {
  width: 1110px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

.btn {
  min-width: 98px;
  display: inline-block;
  background-color: var(--primary-color);
  border-radius: 12px;
  color: #fff;
  font-weight: 500;
  text-align: center;
  padding: 15px 16px;
}

.btn:hover {
  opacity: 0.8;
}
/* HEADER */
.hero-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  background: #e6f0fe;
  height: calc(100vh - 90px);
}
.fixed-header {
  background: #e6f0fe;
  padding-top: 26px;
  position: sticky;
  top: -26px;
  z-index: 1;
}
.navbar {
  display: flex;
  align-items: center;
  padding: 12px 0;
}

.navbar ul {
  display: flex;
  margin-left: 50px;
}

.navbar .action {
  margin-left: auto;
}

.navbar ul a {
  font-size: 1.4rem;
  font-weight: 500;
  padding: 8px 14px;
  line-height: 14px;
  color: #4f5361;
}

.navbar ul a:hover {
  text-decoration: underline;
}
a.action-link {
  color: var(--primary-color);
  font-size: 14px;
  font-weight: 500;
}

.action .action-btn {
  padding: 10px 16px;
  margin-left: 18px;
  border-radius: 8px;
}

.hero-wrap .infor {
  width: 51%;
}

.hero-wrap .sub-title {
  color: #687690;
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.01em;
  line-height: 1.5;
}

.hero-wrap .title {
  margin-top: 8px;
  color: #000336;
  font-size: 6.2rem;
  font-weight: 700;
  line-height: 1.19;
}

.hero-wrap .desc {
  color: #5a6473;
  font-size: 1.8rem;
  line-height: 1.78;
  margin-top: 30px;
}

.hero-cta {
  min-width: 170px;
  margin-top: 40px;
}

.hero-img {
  position: absolute;
  bottom: 0;
  right: calc((100vw - 1110px) / 2 - 100px);
}
/* CLIENT */
.client {
  margin-top: 79px;
  padding: 43px 0 64px;
}

.client .row {
  display: flex;
  justify-content: space-between;
}

.client .desc {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.25;
  color: #7d8589;
}

.client .row-desc {
  margin-top: 23px;
}

.client .images {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
}

.client .images a {
  display: flex;
  align-items: center;
  padding: 0 42px;
  height: 90px;
  border-radius: 12px;
}

.client .images a:hover {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
}

/* GUIDES */
.guides {
  margin-top: 40px;
  padding: 97px 0 79px;
}

.guides .sub-title {
  position: relative;
  color: #000339;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1;
  text-align: center;
}

.guides .sub-title::before {
  content: "";
  top: -10px;
  right: 50%;
  transform: translateX(50%);
  position: absolute;
  display: inline-block;
  width: 41px;
  height: 4px;
  background: #000339;
  border-radius: 12px;
}

.guides .desc {
  width: 459px;
  max-width: 100%;
  font-size: 1.6rem;
  font-weight: 400;
  color: #5a6473;
  line-height: 1.88;
  margin: 20px auto 0px;
  text-align: center;
}

.list-guides {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

.guides-item {
  margin: 0 70px;
  text-align: center;
}

.guides-item .title {
  margin-top: 26px;
  color: #3b3c45;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1;
}

.guides-item .link {
  display: inline-block;
  margin-top: 10px;
  color: #0689ff;
  font-size: 1.4rem;
  font-weight: 600;
}

.guides-item .arrow {
  margin-left: 6px;
}

.guides-cta {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.guides-cta .btn {
  min-width: 170px;
}
/* FEATURED */
.featured {
  margin-top: 41px;
  padding: 110px 0;
  background: #f5fafe;
}

.featured .sub-tilte {
  color: #000339;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
}

.featured .row {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.featured .desc {
  color: #5a6473;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875;
}

.featured .link {
  display: flex;
  align-items: center;
  color: #0689ff;
  font-size: 1.8rem;
  font-weight: 600;
}

.featured .link .arrow {
  margin-left: 8px;
}

.featured .list {
  display: flex;
  margin-top: 70px;
  gap: 30px;
}

.featured .item {
  width: 350px;
  height: 357px;
}

.featured .thumb {
  width: 100%;
  flex: 1;
  height: 227px;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
}

.featured .body {
  display: flex;
  flex-direction: column;
  padding: 17px 20px 24px;
  background: #ffffff;
  border-radius: 0 0 12px 12px;
}

.featured .title a {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1;
  color: #000339;
}

.featured .desc {
  margin-top: 11px;
  color: #a3a6ab;
  font-size: 1.4rem;
  font-weight: 500;
}

.featured .info {
  display: flex;
  align-items: center;
  margin-top: 21px;
}

.featured .label {
  color: #4d4d52;
  margin: 0 23px 0 8px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.01em;
}

.featured .label:last-child {
  margin-right: 0;
}
/* Stats */
.stats {
  margin-top: 75px;
  padding: 50px 0;
}

.stats .content {
  width: 1048px;
}

.stats .row {
  display: flex;
}

.stats .img-block,
.stats .info {
  width: 50%;
}

.stats .img-block {
  position: relative;
}

.stats .img-block .image {
  display: block;
  margin-left: auto;
  width: 400px;
  height: 460px;
  object-fit: cover;
  border-radius: 12px;
}

.stats .info {
  padding: 79px 0 0 165px;
}

.stats .sub-title {
  position: relative;
  width: 269px;
  color: #000339;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1.29;
}

.stats .sub-title::before {
  position: absolute;
  content: "";
  display: flex;
  width: 41px;
  height: 4px;
  left: 0;
  top: -10px;
  border-radius: 12px;
  background: #000339;
}

.stats .info .desc {
  color: #5a6473;
  width: 309px;
  margin-top: 20px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.875;
}

.stats-trend {
  position: absolute;
  width: 239px;
  padding: 45px 22px 40px;
  border-radius: 0 0 12px 12px;
  background: #fff;
  box-shadow: 90px 85px 100px 0 rgba(0, 0, 0, 0.06);
  top: 0;
  left: 0;
}

.stats-trend .value {
  color: #000339;
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.01em;
}

.stats .avatar-block {
  margin-top: 26px;
  display: flex;
  gap: 14px;
  flex-wrap: wrap;
}
.stats-trend .icon {
  margin-left: auto;
}

.stats-trend .desc {
  color: #a7a7a7;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 8px;
}

.stats-trend .separate {
  height: 1.2px;
  background: #e9e9e9;
  margin-top: 25px;
}

.stats .avatar-group {
  display: flex;
}

.stats .avatar {
  width: 16px;
  height: 16px;
  margin-left: -3px;
  object-fit: cover;
  border-radius: 50%;
  display: flex;
  background: var(--bg-avatar, blue);
  color: white;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
}
stats .avatar:first-child {
  margin-left: 0;
}

.stats .row-qty {
  justify-content: space-between;
  margin-top: 110px;
  padding: 0 32px;
}

.stats .qty-item .qty {
  color: #000;
  font-size: 6.4rem;
  font-weight: 600;
  line-height: 1;
}

.stats .qty-desc {
  margin-top: 24px;
  color: #7b8087;
  font-size: 1.8rem;
  font-weight: 500;
}

/* Subscription */
.supscription {
  margin-top: 90px;
}

.supscription .body {
  display: flex;
  position: relative;
  height: 370px;
  align-items: center;
  border-radius: 20px;
  background: #063183;
}

.supscription .info {
  width: 671px;
  max-width: 100%;
  padding: 0 80px;
}

.supscription .sub-title {
  color: #fff;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1.5;
}

.supscription .desc {
  color: #fff;
  font-size: 1.6rem;
  opacity: 0.75;
  font-weight: 400;
  line-height: 1.88;
  margin-top: 15px;
}

.supscription .btn-subs {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1;
  margin-top: 20px;
  width: 151px;
  color: #002366;
  height: 50px;
  border-radius: 12px;
  background: #fff;
}

.supscription .image {
  position: absolute;
  bottom: 0;
  right: 221px;
}
/* Footer */
.footer {
  margin-top: 55px;
  padding: 50px 0 58px 0;
}
.footer .row {
  display: flex;
}

.footer .row-top {
  gap: 185px;
}
.footer .heading {
  color: #1c1c1d;
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  font-weight: 700;
}
.footer .list,
.footer .desc {
  margin-top: 42px;
}

.footer .desc {
  color: #7a7a7e;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
}

.footer .item {
  margin-top: 18px;
}

.footer .item a {
  color: #7a7a7e;
  font-size: 1.6rem;
  font-weight: 400;
  white-space: nowrap;
}

.footer .social {
  display: flex;
  margin-top: 40px;
}

.footer .social .social-link {
  width: 28px;
  height: 28px;
  margin-left: 16px;
  align-items: center;
  background: #f9f9f9;
  border-radius: 3px;
  color: #00e;
  display: flex;
  justify-content: center;
  line-height: 16px;
}

.footer .social-link:hover {
  background: #ebebeb;
}
.footer .social .social-link:first-child {
  margin-left: 0;
}
.footer .row-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 81px;
}

.footer .copyright {
  color: #c2c2c2;
  font-size: 1.4rem;
  line-height: 1;
}
